<!DOCTYPE html>
<html>
  <head>
    <title>Simple Group Chat on Node.js</title>
    <style>
        * { margin: 0; padding: 0; box-sizing: border-box; }
        body { font: 13px Helvetica, Arial; }
        form { background: #fff; padding: 3px; position: fixed; bottom: 0; width: 100%; border-color: #000; border-top-style: solid; border-top-width: 1px;}
        form input { border-style: solid; border-width: 1px; padding: 10px; width: 85%; margin-right: .5%; }
        form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; margin-left: 2%; }
        #messages { list-style-type: none; margin: 0; padding: 0; }
        #messages li { padding: 5px 10px; }
        #messages li:nth-child(odd) { background: #eee; }
        .modal {
            display: none;
          }

          .modal.is-open {
            display: block;
          }
    </style>
    <script src="../../socket.io/socket.io.js"></script>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="https://unpkg.com/micromodal/dist/micromodal.min.js"></script>
  </head>
  <body>
    <ul id="messages"></ul>
    <form action="/" method="POST" id="chatForm">
      <input id="txt" autocomplete="off" autofocus="on" oninput="isTyping()" placeholder="type your message here..." /><button>Send</button>
    </form>
    <script>
            var socket = io.connect('http://e2api.com:3011');

            // submit text message without reload/refresh the page
            $('form').submit(function(e){
                e.preventDefault(); // prevents page reloading
                socket.emit('chat_message', $('#txt').val());
                $('#txt').val('');
                return false;
            });

            // append the chat text message
            socket.on('chat_message', function(msg){
                $('#messages').append($('<li>').html(msg));
            });

            // append text if someone is online
            socket.on('is_online', function(username) {
                $('#messages').append($('<li>').html(username));
            });

            // ask username
            function setName() {
              const name = $('#name').val()
              socket.emit('username', name);
            }
            MicroModal.show('modal-1');

    </script>

<!-- [1] -->
    <div id="modal-1" aria-hidden="true">

      <!-- [2] -->
      <div tabindex="-1" data-micromodal-close>

        <!-- [3] -->
        <div role="dialog" aria-modal="true" aria-labelledby="modal-1-title" >


          <header>
            <h2 id="modal-1-title">
              Modal Title
            </h2>

            <!-- [4] -->
            <button aria-label="Close modal" data-micromodal-close></button>
          </header>

          <div id="modal-1-content">
            <div>
              <input type="text" name="name" id="name">
            </div>
            <button onclick="setName()" data-custom-close="modal-1">
              Save
            </button>
          </div>

        </div>
      </div>
    </div>


  </body>
</html>
